<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/materialize.min.css">
        <title>Showing Data</title>
    </head>
    <body>
        <h1>Data To Be Shown</h1>
        <div id="quizData">

        </div>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.min.js"></script>
        <script src="js/quiz.js"></script>
    </body>
</html>