<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/materialize.min.css">
        <title>Showing Data</title>
    </head>
    <body>
        <main id="quiz">
            <div class="row container">
                <h1>Quiz</h1>
                <div id="quizCategory">

                </div>
                <div id="question">

                </div>
                <div id="answer0" class="col s6">
                </div>
                <div id="answer1" class="col s6">
                </div>
                <div id="answer2" class="col s6">
                </div>
                <div id="correct" class="col s6">
                </div>
            </div>
        </main>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.min.js"></script>
        <script src="js/quiz.js"></script>
    </body>
</html>